/*-------------------- Tablet View ---------------------*/
@media only screen and (min-width:689px) and (max-width:992px) {

    /* ----------------Section 1 start---------------- */


    #section1 {
        background-color: lightslategray;
        height: fit-content;
        width: 100%;
        justify-content: center;

    }

    #section1:hover {
        background-color: lightslategray;
    }

    .half-width {
        width: 100%;
        max-height: fit-content;
        padding-top: 5%;
        padding-left: 5px;
        padding-right: 20px;
    }

    .half-width img {
        width: 100%;
        max-height: fit-content;
        padding-top: 5%;
        padding-left: 5px;
        padding-right: 20px;
        margin-bottom: -5px;


    }

    /* ----------------Section 1 End---------------- */

    /* ----------------Section 2 start---------------- */
    #section2 {
        height: fit-content;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .box1 {
        background-color: white;
        height: fit-content;
        width: fit-content;
        grid-template-columns: repeat(3, 1fr);

    }

    .link_Button1 {
        padding-top: 15px;
    }

    .box2 {
        height: fit-content;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        align-items: center;
    }

    .blog {
        width: 100%;
        justify-content: center;
        height: 100%;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
    }

    .banner img {
        width: 100%;
    }

    .box3 {
        visibility: visible;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .link_Button4 {
        text-decoration: none;
        font-size: 20px;
        background-color: rgba(233, 7, 7, 0.794);
        color: white;
        margin-left: 50px;
        padding: 10px 20px;
        border-radius: 5px;
    }

    /* ----------------Section 2 End---------------- */


    /* ------------Footer Start------------------- */

    section {
        width: 100%;
        height: 100%;
    }

    .footer {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    hr {
        margin-bottom: 20px;
        padding-left: 30px;
        margin-right: 30px;
    }



    /* ------------Footer End------------------- */

}